
/* ========== COLOR PALLETE ============= */

:root {
    --white-color: #F6F4F4;
    --orange-color: #FF7517;
    --dark-color: #3E3939;
    --dark-color-transparent: #3e39399f;
    --darker-color: #2C2727;
}